In [36]:
import pandas as pd
from rbbm_src.dc_src.DCErrorInjector import inject_error
import psycopg2
import pickle

In [37]:
conn = psycopg2.connect('dbname=cr user=postgres')

In [38]:
# datasets 
# hospital = pd.read_sql('select * from hospital_test limit 1000', conn)
# 114919

tax = pd.read_sql('select * from tax_test order by random() limit 10000', conn)
# 1000000 row

# adult = pd.read_sql('select * from adult_test', conn)
# # 32561 row

# airport = pd.read_sql('select * from airport_test', conn)
# # 55100 row

/tmp/ipykernel_32144/1217781752.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tax = pd.read_sql('select * from tax_test order by random() limit 10000', conn)

In [39]:
# hospital.shape
tax.shape

(10000, 15)

In [40]:
list(tax)
# list(hospital)

['fname',
 'lname',
 'gender',
 'areacode',
 'phone',
 'city',
 'state',
 'zip',
 'maritalstatus',
 'haschild',
 'salary',
 'rate',
 'singleexemp',
 'marriedexemp',
 'childexemp']

In [41]:
# hospital_errored = inject_error(df=hospital, exclude_cols=['_tid_'], number_of_errors=50)
tax_errored, err_records = inject_error(df=tax, exclude_cols=['_tid_'], number_of_errors=300)

In [42]:
# hospital_errored[hospital_errored['is_dirty']=='True']
tax_errored[tax_errored['is_dirty']=='True']

,fname,lname,gender,areacode,phone,city,state,zip,maritalstatus,haschild,salary,rate,singleexemp,marriedexemp,childexemp,_tid_,is_dirty
64,Karthick,Blom,F,939,1009524,SAN JUAN,PR,00917,S,Y,21000,0.000000,0,0,0,64,True
100,Jiabin,Grdy,F,262,1001543,CORY,WI,54489,S,Y,35000,5.054533,700,0,400,100,True
104,Kenn,Heyderhoff,F,435,1004617,SALT LAKE CITY,UT,84144,S,Y,16000,7.000000,3575,0,2475,104,True
128,Manabu,Blakeman,M,651,1002442,TWIG,MN,55791,M,Y,36500,6.203255,3300,0,3300,128,True
137,Kornel,Jingmin,F,302,1015757,WILMINGTON,DE,19880,S,Y,86000,5.950000,1300,0,110,137,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9915,Pavan,Nilsson,F,574,1001991,PIMENTO,IN,47866,S,Y,30500,3.400000,1000,0,1000,9915,True
9921,Bhabani,Araki,M,302,1019687,OKREEK,DE,19717,S,Y,82000,5.950000,110,0,110,9921,True
9938,Kimikazu,Treiber,F,252,1002414,CHARLOTTE,NC,28288,M,Y,32000,6.403846,0,6600,0,9938,True
9962,Demin,Dorrscheidt,F,207,1011911,PORTAGE,ME,04768,M,N,45000,8.500000,0,5700,0,9962,True
9978,Pai,Wechsung,M,315,1001637,AKRON,NY,14001,S,Y,51000,4.249085,0,0,1000,9978,True

In [43]:
tax_errored[tax_errored['is_dirty']=='True'].shape

(300, 17)

In [44]:
# list(hospital_errored)
list(tax_errored)

['fname',
 'lname',
 'gender',
 'areacode',
 'phone',
 'city',
 'state',
 'zip',
 'maritalstatus',
 'haschild',
 'salary',
 'rate',
 'singleexemp',
 'marriedexemp',
 'childexemp',
 '_tid_',
 'is_dirty']

In [45]:
with open('../prepared_dc_data/error_records_1010.pkl', 'wb') as file:
    pickle.dump(err_records, file)

In [46]:
err_records[10]

[]

In [47]:
tax_errored.to_csv('/home/opc/author/RBBM/rbbm_src/muse/data/mas/tax.csv', header=None, index=False)
# hospital_errored.to_csv('/home/opc/author/RBBM/rbbm_src/muse/data/mas/hospital.csv', header=None, index=False)