In [24]:
import pandas as pd
from rbbm_src.dc_src.DCErrorInjector import inject_error
import psycopg2
import pickle

In [25]:
conn = psycopg2.connect('dbname=cr user=postgres')

In [26]:
# datasets 
# hospital = pd.read_sql('select * from hospital_test limit 1000', conn)
# 114919

tax = pd.read_sql('select * from tax_test order by random() limit 5000', conn)
# 1000000 row

# adult = pd.read_sql('select * from adult_test', conn)
# # 32561 row

# airport = pd.read_sql('select * from airport_test', conn)
# # 55100 row

/tmp/ipykernel_32144/1957790149.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tax = pd.read_sql('select * from tax_test order by random() limit 5000', conn)

In [27]:
# hospital.shape
tax.shape

(5000, 15)

In [28]:
list(tax)
# list(hospital)

['fname',
 'lname',
 'gender',
 'areacode',
 'phone',
 'city',
 'state',
 'zip',
 'maritalstatus',
 'haschild',
 'salary',
 'rate',
 'singleexemp',
 'marriedexemp',
 'childexemp']

In [29]:
# hospital_errored = inject_error(df=hospital, exclude_cols=['_tid_'], number_of_errors=50)
tax_errored, err_records = inject_error(df=tax, exclude_cols=['_tid_'], number_of_errors=100)

In [30]:
# hospital_errored[hospital_errored['is_dirty']=='True']
tax_errored[tax_errored['is_dirty']=='True']

,fname,lname,gender,areacode,phone,city,state,zip,maritalstatus,haschild,salary,rate,singleexemp,marriedexemp,childexemp,_tid_,is_dirty
21,Jorma,Schijf,F,304,1015188,PULLMAN,WV,26421,S,Y,14000,3.035000,2000,0,2000,21,True
52,Rame,Prats,M,425,1002728,ORIENT,WA,99160,S,Y,77500,0.000000,0,0,0,52,True
54,Atilio,Wichaipanitch,F,478,1000992,NEW ALBANY,GA,30312,M,N,60500,6.000000,0,5400,0,54,True
107,Leonardo,Gabalda,F,330,1000842,LAS CRUCES,NM,88006,M,N,15000,4.957143,0,6600,0,107,True
144,Natalija,Constantine,M,939,1001246,PONCE,PR,00730,S,Y,100000,0.000000,0,0,0,144,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4788,Erik,Giguere,M,928,1009423,STORY,WY,82842,M,N,86500,0.000000,0,0,0,4788,True
4801,Phil,Vieth,F,207,1010565,AUBURN,ME,04210,M,N,17500,8.144160,0,5700,400,4801,True
4905,Ovidiu,Moshkov,F,401,1001699,WARREN,RI,02885,S,Y,23000,0.000000,0,0,0,4905,True
4984,Kosta,Faraboschi,M,870,1001848,WINSLOW,AR,72959,S,Y,36000,7.000000,20,0,1500,4984,True
4998,Yibin,Banare,F,802,1000955,LUNENBURG,VT,05906,M,N,100000,4.815613,0,6600,0,4998,True

In [31]:
tax_errored[tax_errored['is_dirty']=='True'].shape

(100, 17)

In [32]:
# list(hospital_errored)
list(tax_errored)

['fname',
 'lname',
 'gender',
 'areacode',
 'phone',
 'city',
 'state',
 'zip',
 'maritalstatus',
 'haschild',
 'salary',
 'rate',
 'singleexemp',
 'marriedexemp',
 'childexemp',
 '_tid_',
 'is_dirty']

In [33]:
with open('../prepared_dc_data/error_records_1010.pkl', 'wb') as file:
    pickle.dump(err_records, file)

In [34]:
err_records[10]

[]

In [35]:
tax_errored.to_csv('/home/opc/chenjie/RBBM/rbbm_src/muse/data/mas/tax.csv', header=None, index=False)
# hospital_errored.to_csv('/home/opc/chenjie/RBBM/rbbm_src/muse/data/mas/hospital.csv', header=None, index=False)